# Secrets Docker – NE JAMAIS COMMITER
secrets/

# Tag de build genere par build.sh
.image-tag

# Volumes Docker locaux
*.db
*.sqlite

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/

# Misc
.DS_Store
*.log
