# Secrets — JAMAIS dans le dépôt
secrets/*.txt
secrets/*.key
secrets/*.pem
.env
.env.prod
.env.dev
.env.staging

# Certificats TLS
traefik/certs/
*.crt
*.key

# Données persistantes
volumes/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
